<section class="card">
    <div class="card-image">
        <figure class="image is-5by3">
            <img class="card-photo" [src]="housingLocation.photo" alt="Exterior photo of {{housingLocation.name}}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ housingLocation.name }}</p>
              <p class="subtitle is-6"><i class="fa-solid fa-location-pin"></i> {{ housingLocation.city}}, {{housingLocation.state }}</p>
            </div>
        </div>
      
        <div class="content">
            <p *ngIf="housingLocation.wifi === true">
                <i class="fa fa-solid fa-wifi"></i> Wi-Fi available
            </p>
            <p *ngIf="housingLocation.wifi === false">
                <i class="fa fa-solid fa-plane-up"></i> Wi-fi not available
            </p>
            <p *ngIf="housingLocation.laundry === true">
                <i class="fa fa-solid fa-jug-detergent"></i> Laundry available
            </p>
            <p *ngIf="housingLocation.laundry === false">
                <i class="fa fa-solid fa-hands-bubbles"></i> Laundry not available
            </p>
        </div>
    </div>
    <footer class="card-footer">
        <a [routerLink]="['/details', housingLocation.id]" class="card-footer-item">Learn More</a>
    </footer>
</section>