.card {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 10px;
}

.card-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.card-image {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.image {
  margin: 0;
}

.card-photo {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
  
  section.card a {
    text-decoration: none;
    color: var(--primary-color);
  }
  section.card a::after {
    content: "\203A";
    margin-left: 5px;
  }