<section class="hero is-dark is-fullheight" [ngClass]="{'light-mode': !isDarkMode, 'dark-mode': isDarkMode}">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" [routerLink]="['/']">
            <img src="/assets/logo.svg" alt="Logo">
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" [routerLink]="['/']">
              Home
            </a>
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <span class="navbar-item">
              <a *ngIf="isDarkMode === true" class="button is-warning is-inverted" (click)="toggleDarkMode()">
                <i class="fa fa-solid fa-sun"></i>
              </a>
              <a *ngIf="isDarkMode === false" class="button is-warning is-light" (click)="toggleDarkMode()">
                <i class="fa fa-solid fa-moon"></i>
              </a>
            </span> 
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>

<section class="footer">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <p>2024. Studio Urbanna + Komparti. Todos os direitos reservados.</p> 
    </div>
  </nav>
</section>